[submodule "imported/Vulkan-Headers"]
	path = imported/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "imported/volk"]
	path = imported/volk
	url = https://github.com/zeux/volk.git
[submodule "imported/VulkanMemoryAllocator"]
	path = imported/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "imported/radcpp"]
	path = imported/radcpp
	url = https://github.com/majunlichn/radcpp.git
[submodule "imported/Vulkan-Utility-Libraries"]
	path = imported/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
